/* * {
    border: 1px solid red 
 }
*/
body {
   background-color: #89E30B; 
   font-family: 'Akaya Kanadaka', Tahoma;
   margin: 10px;
   text-align: center;
}

header{
    background-color: green;
    padding: 10px;
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 7px #000;
}

nav > ul {
    list-style-type: none;
    margin: 2px;
    text-align: center;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

nav li {
   display: inline-block;
   margin: 0px 10px;
   background-color: green;
   padding: 10px;
   border-width: 10px;
   border-color: black;
}

nav li:hover {
   background-color: rgb(136, 255, 0);
}

h1 {
   background-color: green;
   text-align: center;
   color: yellow;
   font-size: 65px;
   border: thick;
   border-color: black;
   margin: auto;
}

a:link {
   color: white;
}

a:visited{
   color:white;
}

div {
   vertical-align: top;
}

.main-banner {
    max-height: fit-content;
    border-color: black;
    border-width: 10px;
}

.contact-form {
   background-color:#ECFD0D;
   text-align: center;
   height: 300px;
   width: 400px;
   box-shadow: 5px 5px 5px 5px #777;
   border: 5px solid black;
   padding: 0px;
   border-top-left-radius: 10px;
   margin: auto;
   display: inline-block;
}

.info {
   background-color: #ECFD0D;
   text-align: center;
   height: 300px;
   width: 400px;
   box-shadow: 5px 5px 5px 5px #777;
   border: 5px solid black;
   padding: 0px;
   border-top-right-radius: 10px;
  display: inline-block;
}

footer {
   background-color: rgb(255, 0, 255, 0.35);
   border-width: 10px;
   border-color: black;
   color: white;
   text-align: center;
}

h2 {
   text-align: center;
}

#email-form {
   background-color: rgba(255, 0, 0, 0.35);
   font-size: 35px;
   color: white;
}

.star {
   max-width: 25px;
}